__pycache__/
*.pyc
.venv/
.vscode/
.coverage
notes/
.pytest_cache/
# Ignore environment variable files
.env
*.env
# Ignore sensitive keys/config
ALPHA_VANTAGE_API_KEY
COGNITO_REGION
COGNITO_USER_POOL_ID
COGNITO_APP_CLIENT_ID
# Ignore local and temp files
app.*
local/
.ruff*